<div class="w-full rounded-lg border shadow-sm overflow-hidden bg-white border-stone-200 shadow-stone-950/5 max-w-xs flex flex-col h-screen overflow-y-scroll">
    <div class="rounded m-0 px-6 pt-6 h-max w-full">
      <div class="flex items-center gap-3 pb-4 mb-4 border-b border-stone-200">
        <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/c3a62123201785d642cb2d3875fa4ea74b3bcaf7/david-ui/logo-davidui.svg" alt="david ui logo" class="ml-2 inline-block object-cover object-center w-8 h-8" />
        <p class="font-sans antialiased text-base md:text-lg text-stone-800 font-semibold">David UI</p>
      </div>
      <ul class="flex flex-col gap-0.5 min-w-60 border-b border-stone-200 mb-4 pb-4">
        <li class="relative">
          <div data-dui-toggle="collapse" data-dui-target="#collapseList" aria-expanded="false" aria-controls="collapseList" class="inline-flex items-center justify-center border align-middle font-sans font-medium text-center transition-all ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-sm py-2 px-2 shadow-sm bg-transparent relative text-stone-700 hover:text-stone-700 border-stone-500 hover:bg-transparent duration-150 hover:border-stone-600 rounded-lg hover:opacity-60 hover:shadow-none w-full">
            <span class="grid place-items-center shrink-0 me-2.5">
              <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/refs/heads/master/david-ui/img/avatar-1.jpg" alt="alice" class="inline-block object-cover object-center rounded-md w-8 h-8" />
            </span> Brooklyn Alice
            <span class="grid place-items-center shrink-0 ps-2.5 ms-auto">
              <svg data-dui-icon width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="w-5 h-5 transition-transform rotate-0">
                <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </div>
          <div class="overflow-hidden mt-2 transition-[max-height] duration-300 ease-in-out max-h-0" id="collapseList">
            <ul class="flex flex-col gap-0.5 min-w-60">
              <li class="flex items-center pl-2 text-sm cursor-pointer py-1.5 px-2.5 rounded-md align-middle font-sans transition-all duration-300 ease-in bg-transparent text-stone-600 hover:text-stone-800 hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800">
                My Profile
              </li>
              <li class="flex items-center pl-2 text-sm cursor-pointer py-1.5 px-2.5 rounded-md align-middle font-sans transition-all duration-300 ease-in bg-transparent text-stone-600 hover:text-stone-800 hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800">
                Settings
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="w-full h-max rounded py-2.5 px-6 pb-6 pt-0">
      <ul class="flex flex-col gap-0.5 min-w-60 border-b border-stone-200 mb-4 pb-4">
        <li class="relative mb-2">
          <div data-dui-toggle="collapse" data-dui-target="#collapseList2" aria-expanded="false" aria-controls="collapseList2" class="inline-flex items-center justify-center border align-middle font-sans font-medium text-center transition-all ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-sm py-2 px-2.5 shadow-sm bg-transparent relative text-stone-700 hover:text-stone-700 border-stone-500 hover:bg-transparent duration-150 hover:border-stone-600 rounded-lg hover:opacity-60 hover:shadow-none w-full">
            <span class="grid place-items-center shrink-0 me-2.5">
              <svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="w-4 h-4">
                <path d="M14 20.4V14.6C14 14.2686 14.2686 14 14.6 14H20.4C20.7314 14 21 14.2686 21 14.6V20.4C21 20.7314 20.7314 21 20.4 21H14.6C14.2686 21 14 20.7314 14 20.4Z" stroke="currentColor"></path>
                <path d="M3 20.4V14.6C3 14.2686 3.26863 14 3.6 14H9.4C9.73137 14 10 14.2686 10 14.6V20.4C10 20.7314 9.73137 21 9.4 21H3.6C3.26863 21 3 20.7314 3 20.4Z" stroke="currentColor"></path>
                <path d="M14 9.4V3.6C14 3.26863 14.2686 3 14.6 3H20.4C20.7314 3 21 3.26863 21 3.6V9.4C21 9.73137 20.7314 10 20.4 10H14.6C14.2686 10 14 9.73137 14 9.4Z" stroke="currentColor"></path>
                <path d="M3 9.4V3.6C3 3.26863 3.26863 3 3.6 3H9.4C9.73137 3 10 3.26863 10 3.6V9.4C10 9.73137 9.73137 10 9.4 10H3.6C3.26863 10 3 9.73137 3 9.4Z" stroke="currentColor"></path>
              </svg>
            </span> Dashboard
            <span class="grid place-items-center shrink-0 ps-2.5 ms-auto">
              <svg data-dui-icon width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="h-4 w-4 stroke-2 transition-transform rotate-0">
                <path d="M6 9L12 15L18 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </div>
          <div class="overflow-hidden mt-2 transition-[max-height] duration-300 ease-in-out max-h-0" id="collapseList2">
            <ul class="flex flex-col gap-0.5 min-w-60">
              <li class="flex text-sm items-center cursor-pointer pl-10 py-1.5 px-2.5 rounded-md align-middle font-sans transition-all duration-300 ease-in bg-transparent text-stone-600 hover:text-stone-800 hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800">
                Analytics
              </li>
              <li class="flex text-sm items-center cursor-pointer pl-10 py-1.5 px-2.5 rounded-md align-middle font-sans transition-all duration-300 ease-in bg-transparent text-stone-600 hover:text-stone-800 hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800">
                Sales
              </li>
            </ul>
          </div>
        </li>
        <li class="flex items-center py-1.5 px-2.5 rounded-md align-middle select-none font-sans text-sm transition-all duration-300 ease-in aria-disabled:opacity-50 aria-disabled:pointer-events-none bg-transparent text-stone-600 hover:text-stone-800 dark:hover:text-white hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800 dark:focus:text-white">
          <span class="grid place-items-center shrink-0 me-2.5">
            <svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="w-4 h-4">
              <path d="M21 7.35304L21 16.647C21 16.8649 20.8819 17.0656 20.6914 17.1715L12.2914 21.8381C12.1102 21.9388 11.8898 21.9388 11.7086 21.8381L3.30861 17.1715C3.11814 17.0656 3 16.8649 3 16.647L2.99998 7.35304C2.99998 7.13514 3.11812 6.93437 3.3086 6.82855L11.7086 2.16188C11.8898 2.06121 12.1102 2.06121 12.2914 2.16188L20.6914 6.82855C20.8818 6.93437 21 7.13514 21 7.35304Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M3.52844 7.29357L11.7086 11.8381C11.8898 11.9388 12.1102 11.9388 12.2914 11.8381L20.5 7.27777" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M12 21L12 12" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>Products
        </li>
        <li class="flex items-center py-1.5 px-2.5 rounded-md align-middle select-none font-sans text-sm transition-all duration-300 ease-in aria-disabled:opacity-50 aria-disabled:pointer-events-none bg-transparent text-stone-600 hover:text-stone-800 dark:hover:text-white hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800 dark:focus:text-white">
          <span class="grid place-items-center shrink-0 me-2.5">
            <svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="w-4 h-4">
              <path d="M19.5 22C20.3284 22 21 21.3284 21 20.5C21 19.6716 20.3284 19 19.5 19C18.6716 19 18 19.6716 18 20.5C18 21.3284 18.6716 22 19.5 22Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M9.5 22C10.3284 22 11 21.3284 11 20.5C11 19.6716 10.3284 19 9.5 19C8.67157 19 8 19.6716 8 20.5C8 21.3284 8.67157 22 9.5 22Z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M5 4H22L20 15H7L5 4ZM5 4C4.83333 3.33333 4 2 2 2" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M20 15H7H5.23077C3.44646 15 2.5 15.7812 2.5 17C2.5 18.2188 3.44646 19 5.23077 19H19.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>Orders
        </li>
        <li class="flex items-center py-1.5 px-2.5 rounded-md align-middle select-none font-sans text-sm transition-all duration-300 ease-in aria-disabled:opacity-50 aria-disabled:pointer-events-none bg-transparent text-stone-600 hover:text-stone-800 dark:hover:text-white hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800 dark:focus:text-white">
          <span class="grid place-items-center shrink-0 me-2.5">
            <svg width="1.5em" height="1.5em" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="w-4 h-4">
              <path d="M7 18V17C7 14.2386 9.23858 12 12 12V12C14.7614 12 17 14.2386 17 17V18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M1 18V17C1 15.3431 2.34315 14 4 14V14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M23 18V17C23 15.3431 21.6569 14 20 14V14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3431 6 9 7.34315 9 9C9 10.6569 10.3431 12 12 12Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M4 14C5.10457 14 6 13.1046 6 12C6 10.8954 5.10457 10 4 10C2.89543 10 2 10.8954 2 12C2 13.1046 2.89543 14 4 14Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M20 14C21.1046 14 22 13.1046 22 12C22 10.8954 21.1046 10 20 10C18.8954 10 18 10.8954 18 12C18 13.1046 18.8954 14 20 14Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>Customers
        </li>
      </ul>
      <ul class="flex flex-col gap-0.5 min-w-60">
        <li class="flex items-center py-1.5 px-2.5 rounded-md align-middle select-none font-sans text-sm transition-all duration-300 ease-in aria-disabled:opacity-50 aria-disabled:pointer-events-none bg-transparent text-stone-600 hover:text-stone-800 dark:hover:text-white hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800 dark:focus:text-white">
          <span class="grid place-items-center shrink-0 me-2.5">
            <svg width="1.5em" height="1.5em" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="w-4 h-4">
              <path d="M4 11.4998L3.51493 11.6211C2.62459 11.8437 2 12.6436 2 13.5614V15.4382C2 16.356 2.62459 17.1559 3.51493 17.3785L5.25448 17.8134C5.63317 17.9081 6 17.6217 6 17.2313V11.7683C6 11.3779 5.63317 11.0915 5.25448 11.1862L4 11.4998ZM4 11.4998V11C4 6.58172 7.58172 3 12 3C16.4183 3 20 6.58172 20 11V11.4998M20 11.4998L20.4851 11.6211C21.3754 11.8437 22 12.6436 22 13.5614V15.4382C22 16.356 21.3754 17.1559 20.4851 17.3785L20 17.4998M20 11.4998L18.7455 11.1862C18.3668 11.0915 18 11.3779 18 11.7683V17.2313C18 17.6217 18.3668 17.9081 18.7455 17.8134L20 17.4998M15 20.5H18C19.1046 20.5 20 19.6046 20 18.5V18V17.4998M15 20.5C15 19.6716 14.3284 19 13.5 19H10.5C9.67157 19 9 19.6716 9 20.5C9 21.3284 9.67157 22 10.5 22H13.5C14.3284 22 15 21.3284 15 20.5Z" stroke="currentColor"></path>
            </svg>
          </span>Help and Support
        </li>
        <li class="flex items-center py-1.5 px-2.5 rounded-md align-middle select-none font-sans text-sm transition-all duration-300 ease-in aria-disabled:opacity-50 aria-disabled:pointer-events-none bg-transparent text-stone-600 hover:text-stone-800 dark:hover:text-white hover:bg-stone-200 focus:bg-stone-200 focus:text-stone-800 dark:focus:text-white">
          <span class="grid place-items-center shrink-0 me-2.5">
            <svg width="1.5em" height="1.5em" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor" class="w-4 h-4">
              <path d="M12 12H19M19 12L16 15M19 12L16 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M19 6V5C19 3.89543 18.1046 3 17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>Sign Out
        </li>
      </ul>
    </div>
    <div class="w-full rounded p-6 mt-auto">
      <div class="relative flex items-start w-full border rounded-md p-2 bg-green-500/10 border-transparent text-green-500">
        <div class="w-full text-sm font-sans leading-none m-1.5">
          <small class="font-sans antialiased text-sm text-green-500 font-semibold block mb-2">New Version Available</small>
          <small class="font-sans antialiased text-sm text-green-500 block mb-4">Update your app and enjoy the new features and improvements.</small>
          <div class="flex items-center gap-4">
            <a href="#" class="inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-sm py-1 px-2 shadow-sm hover:shadow bg-green-500 relative bg-gradient-to-b from-green-500 to-green-600 border-green-600 text-stone-50 rounded-lg hover:bg-gradient-to-b hover:from-green-600 hover:to-green-600 hover:border-green-600 after:absolute after:inset-0 after:rounded-[inherit] after:box-shadow after:shadow-[inset_0_1px_0px_rgba(255,255,255,0.35),inset_0_-2px_0px_rgba(0,0,0,0.18)] after:pointer-events-none transition antialiased">Upgrade Now</a>
            <button class="font-sans antialiased text-sm text-green-500 font-semibold block">Dismiss</button>
          </div>
        </div>
      </div>
      <small class="font-sans antialiased text-sm text-center block mt-6 text-stone-600">David UI v3.0.0</small>
    </div>
  </div>