<nav class="w-full shadow-lg overflow-hidden p-2 border-transparent shadow-transparent rounded-none py-3 border-0 bg-transparent">
    <div class="container mx-auto">
      <div class="flex items-center relative">
        <a href="#" class="font-sans antialiased text-base md:text-lg text-stone-800 block py-1 font-semibold">Car Compare</a>
        <!-- Desktop Navigation -->
        <div class="hidden lg:block absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
          <ul class="mt-4 flex flex-col gap-x-6 gap-y-1.5 lg:mt-0 lg:flex-row lg:items-center">
            <li *ngIf="userData.role == 'user'">
              <a routerLink="/dashboard" class="font-sans antialiased text-base text-stone-800 p-1">Dashboard</a>
            </li>
            <li *ngIf="userData.role == 'admin'">
              <a routerLink="/admin" class="font-sans antialiased text-base text-stone-800 p-1">Admin</a>
            </li>
          </ul>
        </div>
        <!-- Sign In Button -->

        <button *ngIf="!userData.email" routerLink="/login" class="inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center transition-all ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-sm py-2 px-4 shadow-sm bg-transparent relative text-stone-700 hover:text-stone-700 border-stone-500 hover:bg-transparent duration-150 hover:border-stone-600 rounded-lg hover:opacity-60 hover:shadow-none hidden lg:ml-auto lg:inline-block">
          Se connecter
        </button>
        <button *ngIf="userData.email" (click)="logout()" class="inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center transition-all ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed focus:shadow-none text-sm py-2 px-4 shadow-sm bg-transparent relative text-stone-700 hover:text-stone-700 border-stone-500 hover:bg-transparent duration-150 hover:border-stone-600 rounded-lg hover:opacity-60 hover:shadow-none hidden lg:ml-auto lg:inline-block">
          Logout {{ userData.email }}
        </button>

        
      </div>
    </div>
  </nav>