<app-navbar></app-navbar>
<ng-container *ngIf="MyVoiture as voiture">
  
<div class="container mx-auto px-4" id="content_container">
    
    <div class="bloc-title mt-8 flex items-center justify-center space-x-4">
        <h3 class="text-2xl font-semibold">
            {{ voiture.marque_nom }} <span class="text-xl font-normal">{{ voiture.model }}</span>
        </h3>
    </div>
    
    
  
    <div id="detail_content" class="mt-8">
        <div class="version-details">
            <div class="version-img relative flex justify-center items-center">
                <picture>
                    <img class="img-fluid rounded-md" [src]="voiture.image" alt="image">
                </picture>
            </div>
  
            
        <h2 class="text-3xl font-bold text-gray-800">{{ voiture.marque_nom }} {{ voiture.model }}</h2>
        <p class="text-lg text-gray-500">{{ voiture.year }} · {{ voiture.carrosserie_nom }}</p>
        
            <div class="text-xl font-bold">A partir de
                <span class="text-2xl">{{ voiture.prix }}<span class="suffix">DT</span> <sup>TTC</sup></span>
            </div>
            
            <div class="flex items-center justify-between">
                <button (click)="comparer()" class="inline-flex items-center justify-center w-full py-2 px-4 text-sm font-medium text-white bg-stone-800 hover:bg-stone-700 rounded-lg shadow-sm transition duration-300">
                    <span><b>Ajouter</b><br>au comparateur</span>
                </button>
                
                <button *ngIf="!isLiked" (click)="LikeDislike()" class="flex items-center space-x-2 px-4 py-2 rounded-full border border-gray-300 transition hover:bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                    </svg>
                </button>
    
                <button *ngIf="isLiked" (click)="LikeDislike()" class="flex items-center space-x-2 px-4 py-2 rounded-full border border-gray-300 transition hover:bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="red">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                    </svg>
                </button>
            </div>
            

            <div class="clearer"></div>
  
            <div class="description mt-6"></div>
  
            <div class="rv rv-43" data-zoneid="43">
                <ins data-revive-zoneid="43" data-revive-id="1c8b73176b58d185abbdd669b4779021" data-revive-seq="0" id="revive-0-0" data-revive-loaded="1" style="text-decoration: none;"></ins>
                <script async="" src="https://display.automobile.tn/www/delivery/asyncjs.php"></script>
            </div>
  
            <div class="technical-details mt-8" id="specs">
                <div class="bloc-title">
                    <h3 class="text-xl font-semibold">Fiche technique</h3>
                </div>
  
                <table class="table-auto w-full mt-4">
                    <thead>
                        <tr>
                            <th colspan="2" class="border-b-2 border-gray-200 p-2 text-left">Equipements fonctionnels</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <th class="p-2">Prix</th>
                          <td class="p-2">{{ voiture.prix }}<span class="suffix">DT</span> <sup>TTC</sup></td>
                      </tr>
                      <tr>
                          <th class="p-2">Moteur</th>
                          <td class="p-2">{{ voiture.moteur }}</td>
                      </tr>
                      <tr>
                          <th class="p-2">Transmission</th>
                          <td class="p-2">{{ voiture.transmission }}</td>
                      </tr>
                      <tr>
                          <th class="p-2">Fuel</th>
                          <td class="p-2">{{ voiture.fuel }}</td>
                      </tr>
                      <tr>
                          <th class="p-2">Drivetrain</th>
                          <td class="p-2">{{ voiture.drivetrain }}</td>
                      </tr>
                      <tr>
                          <th class="p-2">Nb Ports</th>
                          <td class="p-2">{{ voiture.nbports }}</td>
                      </tr>
                      <tr>
                          <th class="p-2">Nb Chaises</th>
                          <td class="p-2">{{ voiture.nbchaises }}</td>
                      </tr>
                      <tr>
                          <th class="p-2">Horsepower</th>
                          <td class="p-2">{{ voiture.horsepower }} hp</td>
                      </tr>
                      <tr>
                          <th class="p-2">Top Speed</th>
                          <td class="p-2">{{ voiture.topspeed }} km/h</td>
                      </tr>
                      <tr>
                          <th class="p-2">0-100 km/h</th>
                          <td class="p-2">{{ voiture.acceleration }} s</td>
                      </tr>                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</ng-container>

<app-footer></app-footer>
